<aside class="aside left-aside col-md-2">
	<div ng-include="'templates/nav.html'"></div>
</aside>
<section class="col-md-6 col-md-offset-1">
	<form class="form-horizontal">
		<fieldset>
			<legend>Confirm Deleting Ad?</legend>
			<header class="row">
				<h3 class="col-md-7">
					{{adData.title}}
				</h3>
				<span class="col-md-3 col-md-offset-2">
					{{adData.date | date: 'd-MMM-yyyy'}}
				</span>
			</header>
			<div class="row">
				<img src="" ng-src="{{ad.imageDataUrl || 'images/no-img.jpg'}}" class="ad-image col-md-4">
				<div class="col-md-8">
					<p class="advContent advContentBox">
						{{adData.text}}
					</p>
					<div class="row advContent">
						<span class="col-md-3">Category:</span>
						<span class="col-md-8 advContentBox">{{adData.categoryName || 'Not specified'}}</span>
					</div>
					<div class="row advContent">
						<span class="col-md-3">Town:</span>
						<span class="col-md-8 advContentBox">{{adData.townName || 'Not specified'}}</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12">
					<button ng-click="delete()" class="btn btn-primary col-md-offset-3">Delete</button>
					<a href="#/user/home" class="btn btn-danger col-md-offset-1">Cancel</a>
				</div>
			</div>
		</fieldset>
	</form>
</section>