<aside class="aside left-aside col-md-2">
	<div ng-include="'templates/nav.html'"></div>
</aside>
<section class="col-md-8 col-md-offset-1">
	<form class="form-horizontal">
		<fieldset>
			<legend>Edit Ad</legend>
			<div class="row">
				<div class="form-group col-md-8">
					<label for="inputTitle" class="col-md-2 control-label">Title:</label>
					<div class="col-md-10">
						<input type="text" class="form-control" ng-model="adData.title" id="inputTitle" value="{{adData.title}}" placeholder="Title">
					</div>
				</div>
				<div class="form-group col-md-8">
					<label for="inputText" class="col-md-2 control-label">Text:</label>
					<div class="col-md-10">
						<textarea class="form-control" ng-model="adData.text" rows="4" id="inputText" value="{{adData.text}}" placeholder="Description"></textarea>
					</div>
				</div>
				<div class="col-md-2">
					<img src="" alt ="no image" class="ad-image" ng-src="{{adData.imageDataUrl}}">
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-8">
					<label for="inputImage" class="col-md-3 control-label">Image:</label>
					<div class="col-md-9">
						<input type="file" class="form-control" id="inputImage" placeholder="Name">
					</div>
				</div>
				<button class="btn btn-warning">Change Image</button>
				<button class="btn btn-danger">Delete Image</button>
				<div class="form-group col-md-8">
					<label for="selectCategory" class="col-md-3 control-label">Category:</label>
					<div class="col-md-9">
						<select ng-model="adData.categoryId" class="form-control" id="selectCategory">
							<option value="null">Choose category</option>
							<option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
						</select>
					</div>
				</div>
				<div class="form-group col-md-8">
					<label for="selectTown" class="col-md-3 control-label">Town:</label>
					<div class="col-md-9">
						<select ng-model="adData.townId" class="form-control" id="selectTown">
							<option value="null">Choose town</option>
							<option ng-repeat="town in towns" value="{{town.id}}">{{town.name}}</option>
						</select>
					</div>
				</div>				
			</div>
			<div class="form-group">
				<div class="col-md-12">
					<button ng-click="edit(adData)" class="btn btn-primary col-md-offset-3">Edit</button>
					<a href="#/user/home" class="btn btn-danger col-md-offset-1">Cancel</a>
				</div>
			</div>
		</fieldset>
	</form>
</section>