<aside class="aside left-aside col-md-2">
	<div ng-include="'templates/nav.html'"></div>
	<!-- if not logged show login/register options -->
	<div ng-include="'templates/loginSideBar.html'"></div>
</aside>
<section ng-include="'templates/allAds.html'" class="col-md-7"></section>
<aside class="aside right-aside col-md-2">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Categories</h3>
		</div>
		<div class="panel-body">
			<ul>
				<li>
					<a href ng-click="filterByCategory(null)">All</a>
				</li>
				<li ng-repeat="category in categories">
					<a href ng-click="filterByCategory(category.id)">{{category.name}}</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Towns</h3>
		</div>
		<div class="panel-body">
			<ul>
				<li>
					<a href ng-click="filterByTown(null)">All</a>
				</li>
				<li ng-repeat="town in towns">
					<a href ng-click="filterByTown(town.id)">{{town.name}}</a>
				</li>
			</ul>
		</div>
	</div>
</aside>