<aside class="left">
	<div ng-include="'templates/nav.html'" class="sidebar"></div>
	<!-- if not logged show login/register options -->
	<div ng-include="'templates/loginSideBar.html'" class="sidebar"></div>
</aside>
<section ng-include="'templates/allAds.html'"></section>
<aside class="right">
	<div class="sidebar">
		<h3>Categories</h3>
		<ul>
			<!-- ng-repeat for categories -->
			<li>
				
			</li>
		</ul>
	</div>
	<div class="sidebar">
		<h3>Towns</h3>
		<ul>
			<!-- ng-repeat for towns -->
			<li>
				
			</li>
		</ul>
	</div>
</aside>