<aside class="left">
	<div ng-include="'templates/nav.html'" class="sidebar"></div>
	<!-- if not logged show login/register options -->
	<div ng-include="'templates/loginSideBar.html'" class="sidebar"></div>
</aside>
<section class="form">
	<div class="register">
		<form action="">
			<legend>User Registration</legend>
			<div>
				<label for="userName">Username:</label>
				<br />
				<input type="text" id="userName" required />
				<br />

				<label for="password">Password:</label>
				<br />
				<input type="password" id="password" required />
				<br />

				<label for="name">Name:</label>
				<br />
				<input type="text" id="name">
				<br />

				<label for="phone">Phone:</label>
				<br />
				<input type="tel" id="phone">
			</div>
			<div>
				<label for="repeatedPass">Confirm password:</label>
				<br />
				<input type="password" id="repeatedPass" required />
				<br />

				<label for="mail">Email:</label>
				<br />
				<input type="text" id="mail">
				<br />

				<label for="town">Town:</label>
				<br />
				<select name="registration-town" id="town">
					<option value="null">Choose town</option>
				</select>
			</div>
		</form>
		<button>Register</button>
		<a href="#/login">Login here</a>
	</div>
</section>