body, aside, section, header, footer, article, ul, li, div, p, h1, h2, h3 {
	margin: 0;
	padding: 0;
	list-style-type: none;
	box-sizing: border-box;
}

body > header, body > footer, aside {
	text-align: center;
}

aside ul li {
	margin-bottom: 5px;
	text-align: left;
}

.btn {
	width: 120px;
	margin-bottom: 10px;
}

.advItem, .form-horizontal {
	margin-bottom: 25px;
	padding: 15px;
	background-color: #303030;
	border-radius: 5px;
}

.advItem header {
	margin-bottom: 20px;
}

.advItem img {
	max-width: 150px;
	max-height: 150px;
}

.advContent {
	margin-bottom: 10px;
}

.advContent span {
	display: inline-block;
}

.advContent span:last-child, .advItem p {
	padding: 5px;
	background: #464545;
	border: 1px dotted black;
}

.advContent span:last-child {
	margin-left: 14px;
}